ACod_reference/*
AKsamplesT92/*
KORsamplesT92/*
stacks_b2_wgenome/*
stacks_b5_wgenome/*
stacks_b6_wgenome_haplotypes/*
stacks_b7_wgenome_haplotypes_r05/*
blast_outputs/*.fa
fasta_inputs/*.fa
bowtie2-2.3.2/*
bowtie_outputs/*.sam
bowtie_outputs/*.bam
bowtie_outputs/*.bai
bowtie_outputs/*.bed
stacks_b1_wgenome/*.tsv.gz
stacks_b1_wgenome/*.sam
stacks_b1_wgenome/batch_1*
stacks_b1_wgenome/*_depth.txt
stacks_pipeline_analyses/*.xlsx
stacks_pipeline_analyses/*xlsxm
refgenome/*
results/*
batch1_bowtie2/*.tsv
batch1_bowtie2/*.sam
UP03_001_mapped.sam
WC05_001_sorted.sam
samtools_depth_testing*
KORsamplesT92/*
analyses/genepop_HWE
analyses/*.Rhistory
analyses/*.DIV
analyses/*basicStats.txt
analyses/batch_4_missing_data/matches_to_haplotypes.xlsx
analyses/ManhattanPlots/Charlie/*
analyses/SlidingWindow/SlidingWindowWorkspace.RData
stacks_pipeline_analyses/analyses_AK_LowGenotypeRate/*.sam
stacks_pipeline_analyses/analyses_AK_LowGenotypeRate/batch4/*.sam
stacks_pipeline_analyses/analyses_AK_LowGenotypeRate/batch4/LowStackDepthSim/*.sam
stacks_pipeline_analyses/analyses_AK_LowGenotypeRate/batch4/LowStackDepthSim_revised/batch_2_matched_genepop.txt.DIV
stacks_pipeline_analyses/analyses_AK_LowGenotypeRate/batch4/LowStackDepthSim_revised/batch_1_matched_genepop.txt.DIV
ACod_reference_old.7z
stacks_b8_wgenome_r05/*.tsv
stacks_b8_wgenome_r05/*.sam
stacks_b8_wgenome_r05/*.fa
stacks_b8_wgenome_r05/*.genepop
stacks_b8_wgenome_r05/populations_m10/*.tsv
stacks_b8_wgenome_r05/populations_m10/*.fa
stacks_b8_wgenome_r05/populations_m10/*.csv
stacks_b8_wgenome_r05/populations_m10/batch_8.genepop
stacks_b8_wgenome_r05/batch_8_genepop_transposed.txt
stacks_b8_wgenome_r05/batch_8_matrix_TRANSPOSED.txt
stacks_b8_wgenome_r05/batch_8_genepop.txt
stacks_b8_wgenome_r05/batch_8_genepop.txt.INF
stacks_b8_wgenome_r05/batch_8_matrix.txt
stacks_b8_wgenome_r05/orig_filter/*
stacks_b8_wgenome_r05/batch_8_filteredMAF_bad.txt
stacks_b8_wgenome_r05/batch_8_filteredMAF.txt
stacks_b8_wgenome_r05/batch_8_filteredMAF_filteredIndivids.txt
stacks_b8_wgenome_r05/batch_8_filteredMAF_filteredIndivids_filteredLoci30_genepop.txt
stacks_b8_wgenome_r05/batch_8_filteredMAF_filteredIndivids_filteredLoci30_filteredHWE_BAD.txt
stacks_b8_wgenome_r05/*.DIV
stacks_b8_wgenome_r05/*.INF
stacks_b8_wgenome_r05/populations_vcf_KOR/*.fa
stacks_b8_wgenome_r05/populations_vcf_KOR/*.vcf
stacks_b8_wgenome_r05/populations_vcf_AK/*.fa
stacks_b8_wgenome_r05/populations_vcf_AK/*.vcf
stacks_b8_wgenome_r05/populations_vcf_all/*.vcf
stacks_b8_wgenome_r05/populations_vcf_all/*.fa
stacks_b4_wgenome/*.fa
stacks_b4_wgenome/*.genepop
stacks_b4_wgenome/*_genepop.txt
stacks_b4_wgenome/*.tsv
stacks_b4_wgenome/*.txt.INF
stacks-1.44/*
stacks_b4_wgenome/*.txt.FST
stacks_b4_wgenome/*.txt.DIV
stacks_b4_wgenom/*.csv
stacks_b4_wgenome/*genepop_noheader.txt
stacks_b4_wgenome/batch_4_matrix*
stacks_b4_wgenome/batch_4_genepop_transposed.txt
stacks_b4_wgenome/*filteredMAF_bad.txt
stacks_b4_wgenome/*biallelic_genepop_*
stacks_b4_wgenome/batch_4_MB_filteredMAF_BAD.txt
stacks_b4_wgenome/batch_4_MB_filteredMAF*
stacks_b4_wgenome/batch_4.CorrectedGenotypes_biallelic.txt
stacks_b4_wgenome/batch_4_genepop.csv
.Rproj.user
analyses/outliers/Bayescan/*.sel
analyses/outliers/Bayescan/unfiltered/*.sel
analyses/outliers/Bayescan/batch_8_final_filtered_aligned_genepop*
analyses/outliers/OutFLANK/*genotypes_forR.txt
analyses/outliers/OutFLANK/batch_8_final_filtered_aligned_genepop*
analyses/alignment/bedtools2/*
analyses/outliers/Bayescan/batch_8_final_2pops/*.sel
analyses/outliers/*.sel
analyses/outliers/Bayescan/.Rhistory
analyses/outliers/*.vcf
analyses/outliers/*.sam
analyses/outliers/Bayescan/batch_8_final_eastwest_reruns/*.sel
analyses/outliers/PCAdapt/*.vcf